# Introduction to Analytical SQL Cell

The installation of `asqlcell` with latest version is simple as:

In [ ]:
%pip install asqlcell

Analytical SQL Cell supports loading data from external CSV file with *inline* magic `%sql`. You can write SQL statement after the magic and the result set will be stored in the variable as a Pandas dataframe:

In [1]:
import asqlcell

data1 = %sql SELECT * FROM 'introduction.csv'

We can further join `data1` with another Pandas dataframe:

In [2]:
from asqlcell import utils

data2 = utils.get_random_data(1000)

data1.join(data2, lsuffix='id', rsuffix='id')

   idid    priceid  normalid  idid  priceid  normalid
0     0  94.830479      True     0        0      True
1     1  72.969358      True     1        1      True
2     2  59.427536      True     2        2      True
3     3   8.669261      True     3        3      True
4     4  11.028436      True     4        4      True

In [17]:
%%sql dataWithDate
SELECT *
FROM stock.parquet
LIMIT 100

SqlcellWidget(column_sort=('', 0), data_grid='{"columns":["code","date","O","H","C","L"],"index":[0,1,2,3,4,5,…

In [8]:
import numpy as np
import pandas as pd
import math
a = np.random.randint(math.ceil(max(dataWithDate.O)), size=len(dataWithDate))
a = pd.DataFrame(data=a)
b = pd.concat([a, dataWithDate], axis=1)
b

     0    code       date      O      H      C      L
0   18  000001 2020-09-02  15.01  15.53  15.32  15.01
1    1  000001 2020-09-03  15.32  15.33  14.90  14.84
2   12  000001 2020-09-04  14.73  15.06  14.96  14.60
3   12  000001 2020-09-07  14.88  15.24  14.94  14.83
4    9  000001 2020-09-08  15.00  15.43  15.43  15.00
..  ..     ...        ...    ...    ...    ...    ...
95  14  000001 2021-01-22  22.23  22.23  22.03  21.51
96  15  000001 2021-01-25  21.72  22.60  22.49  21.43
97   2  000001 2021-01-26  22.30  23.32  22.37  22.30
98   5  000001 2021-01-27  22.31  23.47  23.08  22.31
99   0  000001 2021-01-28  22.78  23.18  22.81  22.45

[100 rows x 7 columns]

In [40]:
normal_dist = {}
names=["a","b","c","d"]
for i in range(4):
    normal_dist[names[i]]= np.random.normal(loc=0.0, scale=1.0, size=100)
normal_dist=pd.DataFrame(normal_dist)
normal_dist

           a         b         c         d
0   2.011701  1.853852 -0.453099 -0.280389
1   0.537766  1.319841  0.665797 -0.086168
2  -1.877105 -0.162144 -1.113990  1.167525
3   2.138236 -1.332385 -0.525549  1.149024
4  -1.364015 -0.531735  1.564186  0.816971
..       ...       ...       ...       ...
95  1.738298  0.539076  0.365641  1.997956
96 -0.449149  0.112368  0.281795  0.123073
97 -1.549035  1.093442 -2.124157 -1.443367
98  0.007268 -0.214703  0.202352 -0.890685
99  0.049562 -0.566267  0.376039  1.295565

[100 rows x 4 columns]

Analytical SQL Cell also supports *block* magic `%%sql` so that you can fill SQL statement in the whole cell. The result set will be stored in the variable named `sqlcelldf` specified after the magic:

In [45]:
asqlcell.SqlcellWidget()

SqlcellWidget(column_sort=('', 0), mode='UI', row_range=(0, 10), vis_sql=('', ''))

In [13]:
%%sql
SELECT *
FROM b

SqlcellWidget(column_sort=('', 0), data_grid='{"columns":["0","code","date","O","H","C","L"],"index":[0,1,2,3,…

In [44]:
%%sql
SELECT *
FROM normal_dist

SqlcellWidget(column_sort=('', 0), data_grid='{"columns":["a","b","c","d"],"index":[0,1,2,3,4,5,6,7,8,9],"data…

In [8]:
%%sql
SELECT date, O
FROM dataWithDate

SqlcellWidget(column_sort=('', 0), data_grid='{"columns":["date","O"],"index":[0,1,2,3,4,5,6,7,8,9],"data":[["…

In [9]:
%%sql
select 1

SqlcellWidget(column_sort=('', 0), data_grid='{"columns":["1"],"index":[0],"data":[[1]]}\n1', data_name='__670…

In [10]:
import ipywidgets as widgets

intslider = widgets.IntSlider(
    value=7,
    min=0,
    max="a",
    step=1,
    description='Test:',
)
display(intslider)

TraitError: The 'max' trait of an IntSlider instance expected an int, not the str 'a'.